@media screen and (min-width: 1280px){
    body{
        height: 100vh;
        display: flex;
        flex-direction: row;
    }

    .container{
        height: 35rem;
        padding: 2.5rem;
        width: 20rem;
    }
 
    .sedans{
        margin-top: 0rem;
        border-radius: 1rem 0rem 0rem 1rem;
    }
 
    .luxury{
        margin-bottom: 0rem;
        border-radius: 0rem 1rem 1rem 0rem;
    }
 }