@media screen and (min-width: 1280px){
    body{
        height: 100vh;
        display: flex;
        flex-direction: row;
    }

    .container{
        height: 40rem;
        padding: 2.5rem;
        width: 20rem;
    }
 
    .sedans{
        margin-top: 0rem;
    }
 
    .luxury{
        margin-bottom: 0rem;
    }
 }