.carro__titulo{
    color: var(--cinza_claro);
    font-family: var(--big);
    font-weight: 700;
    text-transform: uppercase;
}

.carro__texto{
    color: var(--branco_transparente);
    font-family: var(--lexa);
    font-weight: 400;
}

