.carro__titulo{
    color: var(--cinza_claro);
    font-family: var(--big);
    font-weight: 700;
    text-transform: uppercase;
}

.carro__texto{
    color: var(--branco_transparente);
    font-family: var(--lexa);
    font-weight: 400;
}

.sedans{
    background-color: var(--laranja);
    border-radius: 1rem 0rem 0rem 1rem;
}

.suvs{
    background-color: var(--azul);
}

.luxury{
    background-color: var(--verde);
    border-radius: 0rem 1rem 1rem 0rem;
}

.carro__bot達o{
    background-color: var(--cinza_claro);
    border-radius: 2rem;
    font-family: var(--lexa);
    text-align: center;
}

.carro__bot達o.sedans{
    color: var(--laranja);
}

.carro__bot達o.suvs{
    color: var(--azul);
}

.carro__bot達o.luxury{
    color: var(--verde);
}