.carro__titulo{
    color: var(--cinza_claro);
    font-family: var(--big);
    font-weight: 700;
    text-transform: uppercase;
}

.carro__texto{
    color: var(--branco_transparente);
    font-family: var(--lexa);
    font-weight: 400;
    line-height: 2rem;
}

.sedans{
    background-color: var(--laranja);
}

.sedans a:hover{
    background-color: var(--laranja);
}

.sedans a{
    color: var(--laranja);
}

.suvs{
    background-color: var(--azul);
}

.suvs a{
    color: var(--azul);
}

.suvs a:hover{
    background-color: var(--azul);
}

.luxury{
    background-color: var(--verde);
}

.luxury a{
    color: var(--verde);
}

.luxury a:hover{
    background-color: var(--verde);
}

.carro__botão{
    background-color: var(--cinza_claro);
    border-radius: 2rem;
    font-family: var(--lexa);
    font-size: 1rem;
    height: 3rem;
    padding-top: 0.9rem;
    text-align: center;
    width: 9rem;
}

.carro__botão:hover{
    border: 2px solid var(--cinza_claro);
    color: var(--cinza_claro);
    padding-top: calc(0.9rem - 2px);
    cursor: pointer;
}
