.carro__titulo{
    color: var(--cinza_claro);
    font-family: var(--big);
    font-weight: 700;
    text-transform: uppercase;
}

.carro__texto{
    color: var(--branco_transparente);
    font-family: var(--lexa);
    font-weight: 400;
}

.sedans{
    background-color: var(--laranja);
}

.suvs{
    background-color: var(--azul);
}

.luxury{
    background-color: var(--verde);
}

.carro__botão{
    background-color: var(--cinza_claro);
    border-radius: 2rem;
    font-family: var(--lexa);
    text-align: center;
}

.carro__botão.sedans{
    color: var(--laranja);
}

.carro__botão.suvs{
    color: var(--azul);
}

.carro__botão.luxury{
    color: var(--verde);
}