@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500&display=swap');

:root{
    --laranja: #e38826;
    --azul: #006970;
    --verde: #004241;

    --branco_transparente: #ffffffbf;
    --cinza_claro: #f2f2f2;
}